*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
}

.card{
    height: 541px;
    width: 330px;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
}

.img{
    height: 320px;
    width: 100%;
    padding: 25px 25px 20px 25px;
    border-radius: 32px;
}

.title{
    color: hsl(0, 0%, 100%);
    padding: 0 25px;
    font-weight: 600;
}

.paragraph{
    color: hsl(215, 51%, 70%);
    padding: 15px 25px;
    line-height: 26px;
    opacity: 0.7;
    font-size: 16px;
}

.price-time{
    display: flex;
    justify-content: space-between;
    padding: 5px 13px 5px 25px;
}

.price{
    display: flex;
}

.icon-ethereum{
    position: relative;
    top: 3px;
    width: 100%;
    height: 87%;
}

.value{
    color: hsl(178, 100%, 50%);
    font-size: 15px;
    white-space: nowrap;
    padding: 0 6px;
}

.time{
    display: flex;
}

.icon-clock{
    width: 100%;
    height: 85%;
    position: relative;
    top: 3px;
}

.time-text{
    color: hsl(215, 51%, 70%);
    white-space: nowrap;
    padding: 0 25px 0 7px;
    font-size: 16px;
}

.line{
    color: hsl(215, 51%, 70%);
    margin: 10px 21px 8px 21px;
    opacity: 0.3;
}

.creation{
    color: hsl(215, 51%, 70%);
    display: inline;
    padding: 0 0 0 21px;
    font-size: 16px;
}

.avatar{
    height: 33px;
    width: auto;
    margin: 0 15px 0 0;
    border-radius: 50%;
    border: 1px white solid;
    position: relative;
    top: 10px;
}

.name{
    color: white;
    display: inline;
    font-size: 16px;
}

.attribution{
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}

.attribution a{
    color: hsl(228, 38%, 56%);
}